.flip-clock {
  --fcc-flip-duration: 0.5s;
  --fcc-digit-block-width: 30px;
  --fcc-digit-block-height: 60px;
  --fcc-digit-font-size: 30px;
  --fcc-digit-color: #000;
  --fcc-label-font-size: 10px;
  --fcc-label-color: #fff;
  --fcc-background: #fff;
  --fcc-divider-color: #000;
  --fcc-divider-height: 1px;
  --fcc-separator-size: 6px;
  --fcc-separator-color: #fff;
}

.flip-clock {
  font-family: 'Orbitron';
  font-weight: 700;
  margin-bottom: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.page {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 57px;
  background-color: #333; 
  color: white;
  z-index: 1000; 
}

.footer {
  position:absolute;
  display: flex;
  align-items: center;
  justify-content:space-around;
  width: 100vw;
  height: 200px;
  background-color: #000; 
  color: white;
  z-index: 1000; 
}

.map-container {
  width: 40vw;
  height: 120px;
  border: 8px double #fff; /* Doble línea */
  border-radius: 15px; 
  overflow: hidden;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.footer-contact {
  font-size: 12px;
  text-align:start;
}
.footer-contact h4 {
  margin-bottom: 5px;
  font-size: 18px;
}
.footer-section{
  display: none;
}
.overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.page__content {
  margin-top: 200px;
  height: 750px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.page h1 {
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.page h2 {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.page h3 {
  margin: 1rem;
  font-weight: 300;
  max-width: 400px;
}

.btn {
  width: 200px;
  height: 44px;
  background: #fff;
  color: #000;
  font-size: 0.6rem;
  font-family: 'Poppins';
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0.4rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.participantes {
  width: 180px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 5%;
  padding: 20px;
  font-family: 'Orbitron';
  margin-top: 5rem;
  font-size: 24px;
  display: flex;
  justify-content: center;
}

.participantes img {
  width: 36px;
  height: 36px;
  margin-right: 20px;
}

.btn:hover {
  background-color: #868686;
}

/* MyNavbar.css */
.navbar {
  font-size: 12px; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 58px;
  background-color: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.proximamente {
  position: absolute;
  font-size: 10px; 
  color: #838282; 
  margin-top: 14px;
  margin-left: 22px;
}

.navbar-logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navbar-logo img {
  height: 20px;
}

.navbar-links {
  display: flex;
}

.navbar-link {
  margin-right: 15px;
  color: white;
  text-decoration: none;
}

.navbar-link:last-child {
  margin-right: 0;
}

.navbar-link:hover {
  color: #ccc;
}

/* ParticipantesPage.css */
.container {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../src/assets/fondo.webp');
  background-size: cover;
  background-position: center;
  color: #fff;
  font-family: 'Orbitron';
  font-size: 20px;
}

.title {
    text-transform: uppercase;
    margin-top: 100px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
}

.participantes-total {
  font-size: 20px;
  margin-bottom: 40px;
  color: #ffffff;
}

.participantes-list {
  text-align: center;
  width: 250px;
  margin: 0 auto 20px auto;
  font-size: 18px;
  font-weight:bolder;
  letter-spacing: 10px;
  text-transform: uppercase;
  background-color: #47474796;
  list-style-type: none;
  padding: 10px;
  color: #000;
  border-radius: 8px;
}

.participante-item {
  font-size: 16px;
  font-weight:bold;
  letter-spacing:normal;
  text-transform: uppercase;
  background-color: #f4f4f4e8;
  color: #000;
  margin: 8px 0;
  padding: 10px;
  border-radius: 8px;
}
.participante-item:hover {
  background-color: #b4b4b4e8;
}

.clasificacion-table {
  max-width: 600px;
  border-collapse: collapse;
  margin: 20px;
}

.clasificacion-table th, .clasificacion-table td {
  border: 2px solid #ddd;
  padding: 13px 10px;
  text-align: center;
  white-space: nowrap;
}
.clasificacion-tr {
  background:  #47474796!important;
}

.clasificacion-table th {
  background:  #47474796!important;
  color: #000;
  font-size: 22px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.clasificacion-table tr:nth-child(even) {
  color: #000;
  background-color: #ffffffd5;
}
.clasificacion-table tr:nth-child(odd) {
  color: #000;
  background-color: #ebebebd5;
}
.clasificacion-table tr:hover {
  background-color: #6e6e6ec2;
}

.btn-partidos {
 padding: 8px 10px ;
 margin:  40px 4px;
 background-color: #47474796;
 border-radius: 8px;
 border: 2px solid #272727a2;
 font-weight:900;
}
.btn-partidos:hover{
  background-color: #bebebe96;
}

.bg-partido1 {
  height: 50vh;
  width: 90vw;
  background-color: #ffffff;
  background-image: url('../src/assets/partido1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 40px;
}

.bg-partido2 {
  background-image: url('../src/assets/partido2.jpg');
}

.bg-partido3 {
  background-image: url('../src/assets/partido3.jpg');
}

.bg-partido4 {
  background-image: url('../src/assets/partido4.jpg');
}

.bg-partido5 {
  background-image: url('../src/assets/partido5.jpg');
}

.bg-partido6 {
  background-image: url('../src/assets/partido6.jpg');
}

.bg-partido7 {
  background-image: url('../src/assets/partido7.jpg');
}

.bg-partido8 {
  background-image: url('../src/assets/partido8.jpg');
}
@media (min-width:900px){

  .btn {
    width: 300px;
    height: 64px;
    background: #fff;
    color: #000;
    font-size: 1rem;
    font-family: 'Poppins';
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0.4rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.6s ease;
  }

  .clasificacion-table th, .clasificacion-table td {
    border: 2px solid #ddd;
    padding: 10px 50px;
    text-align: center;
    white-space: nowrap;
  }
  
.participantes-list {
  text-align: center;
  width: 600px;
  margin: 0 auto 20px auto;
  font-size: 22px;
  font-weight:bolder;
  letter-spacing: 10px;
  text-transform: uppercase;
  background-color: #47474796;
  list-style-type: none;
  padding: 10px;
  color: #000;
  border-radius: 8px;
}

.participante-item {
  font-size: 16px;
  font-weight:bold;
  letter-spacing:normal;
  text-transform: uppercase;
  background-color: #f4f4f4e8;
  color: #000;
  margin: 8px 0;
  padding: 10px;
  border-radius: 8px;
}

  .footer-section {
    display: block ;
    font-size: 12px;
    text-align:start;
  }
  .footer-section h4 {
    margin-bottom: 5px;
    font-size: 18px;
  }
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 5px 0;
  }
  
  .footer-section a {
    color: rgb(167, 166, 166);
    text-decoration: none;
  }
  .footer-section a :hover{
    color: white;
    text-decoration: none;
  }
  .map-container {
    width: 25vw;
    height: 180px;
  }
  .bg-partido1{
    height: 100vh;
    width: 60vw;
  }
  .page h1 {
      font-size: 4rem;
  }
  .page h2 {
      font-size: 4rem;
  }
  .page h3 {
      max-width: 600px;
  }
  .flip-clock {
      --fcc-digit-block-width: 80px;
      --fcc-digit-block-height: 120px;
      --fcc-digit-font-size: 60px;
      --fcc-digit-color: #000;
      --fcc-label-font-size: 20px;
  }
}